# Database System Development Plan
##### GROUP 3

## This is our database product offered to recruiting company with real company data and mock employee data. We provide insights with analytical techniques after the creation of the database

In [ ]:
# Importing necessary packages

import pandas as pd
from sqlalchemy import create_engine

In [ ]:
# Loading CSV data into a new dataframe

df = pd.read_csv('Levels_Fyi_Salary_Data.csv', low_memory = False)

In [ ]:
# Pass the connection string to a variable, conn_url
conn_url = 'postgresql://postgres:123@localhost/final5'

# Create an engine that connects to PostgreSQL server
engine = create_engine(conn_url)

# Establish a connection
connection = engine.connect()

## Creation of Database Tables Based on Normalization Plan

In [ ]:
# We are now ready to create database tables based on the normalization plan that were developed earlier

# Pass the SQL statements that create all tables
stmt = """
create table employee(
	employee_id serial,
	base_salary numeric(10,2),
	bonus_amount numeric(10,2),
	stock_value numeric(10,2),
    totalyearlycompensation numeric(10,2),
	timestamp timestamp NOT NULL,
	primary key (employee_id)
);

create table contact(
    employee_id serial,
    first_name varchar(50),
    last_name varchar(50),
    primary key (employee_id),
    foreign key(employee_id) references employee
);

create table phone_number(
    employee_id serial,
    phone_number varchar(50),
    phone_type varchar(50),
    primary key (employee_id,phone_number),
    foreign key(employee_id) references employee
);

create table email(
    employee_id serial,
    email varchar(50),
    email_type varchar(50),
    primary key (employee_id,email),
    foreign key(employee_id) references employee
);

create table address(
    employee_id serial,
    street_address varchar(50),
    city varchar(30),
    state varchar(30),
    address_type varchar(30),
    primary key (employee_id,street_address),
    foreign key(employee_id) references employee
);

create table company(
	company_id serial,
	company varchar(100) NOT NULL,
	primary key (company_id)
);

create table location(
	location_id serial,
	location_city varchar(100),
	location_state varchar(100),
    location_add1 varchar(100),
    location_add2 varchar(100),
	primary key (location_id)
);

create table employee_company(
	employee_id int,
	company_id int,
	location_id int,
	foreign key(employee_id) references employee,
	foreign key(company_id) references company,
	foreign key(location_id) references location,
	primary key (employee_id, company_id, location_id)
);

create table specialization(
	tag_id serial,
	tag varchar(200),
	primary key (tag_id)
);

create table employee_specialization(
	employee_id int,
	tag_id int,
	foreign key(employee_id) references employee,
	foreign key(tag_id) references specialization,
	primary key(employee_id)
);

create table ref_education(
	education varchar(50),
	primary key(education)
);

create table employee_qualification(
	employee_id int,
	education varchar(50),
	years_at_company int ,
	years_experience int ,
	foreign key(employee_id) references employee,
	foreign key(education) references ref_education,
	primary key(employee_id)
);

create table gender(
	gender varchar(10),
	check (gender 
			in ('Male','Female', 'Other','Unknown')),
	primary key(gender)
);
    
create table race(
	race varchar(50) primary key
);
    
create table employee_demographics(
	employee_id int primary key,
	gender varchar(10),
	race varchar(50),
	foreign key(employee_id) references employee,
	foreign key(gender) references gender,
	foreign key(race) references race
);

create table level(
	level_id serial, 
	level varchar(100),
	primary key (level_id)
);

create table ref_title(
	title varchar(50),
	primary key(title)
);

create table employee_position(
	employee_id int primary key,
	level_id int,
    title varchar(50),
	foreign key(employee_id) references employee,
	foreign key(level_id) references level,
    foreign key(title) references ref_title
);
    

    """

connection.execute(stmt)

## **Extract, Transform and Load**

### Add employee table 
##### *loading employee database table - since the employee records are unique without duplication, we can add a column with incrementing integer numbers for the primary key of employee id*

In [ ]:
df.insert(0, 'employee_id', range(1, 1 + len(df)))

In [ ]:
employee_df=df[['employee_id','basesalary','bonus','stockgrantvalue','timestamp','totalyearlycompensation']]

In [ ]:
employee_df=employee_df.rename(columns={'basesalary':'base_salary','stockgrantvalue':'stock_value','bonus':'bonus_amount'})

In [ ]:
employee_df.to_sql(name='employee', con=engine, if_exists='append', index=False)

### **Add company table**
##### *loading company database table - in the original csv data since there are repeating companies, we need to extract the unique company names, add a column of incrementing integer numbers and then map these numbers back to the main dataframe*

In [ ]:
temp_company_df = pd.DataFrame(df.company.unique(), columns=['company'])
temp_company_df['company']=temp_company_df['company'].fillna("Unknown")
temp_company_df.insert(0, 'company_id', range(1, 1 + len(temp_company_df)))

In [ ]:
temp_company_df.to_sql(name='company', con=engine, if_exists='append', index=False)

##### *adding a new column to the main dataframe, for the primary key which is company_id this involves using temp_company_df to create a list mapping company_id using for loops and then inserting this list to the main dataframe as a new column*

In [ ]:
df['company']=df['company'].fillna("Unknown")

In [ ]:
company_id_list = [temp_company_df.company_id[temp_company_df.company == i].values[0] for i in df.company]

In [ ]:
df.insert(4, 'company_id', company_id_list)

### **Add location table**
##### *loading location database table - same as the company name attribute, since location has repetitive records in the main dataframe, we need to first extract the unique location information to database, and then use for-loop to add a column of incrementing integer numbers for each location_id to create a list, which is used to map these numbers back to the main dataframe*

In [ ]:
df_cs=df['location'].str.split(',', expand=True)

In [ ]:
df_cs.columns=['location_city','location_state','location_add1','location_add2']

In [ ]:
df_cs=df_cs.drop_duplicates()

In [ ]:
df_cs['location_state'] = df_cs['location_state'].str.strip()

In [ ]:
df_cs['location_add1'] = df_cs['location_add1'].str.strip()

In [ ]:
df_cs['location_add2'] = df_cs['location_add2'].str.strip()

In [ ]:
df_cs.insert(0, 'location_id', range(1, 1 + len(df_cs)))

In [ ]:
df_cs.to_sql(name='location', con=engine, if_exists='append', index=False)

In [ ]:
# mapping location_id

In [ ]:
df_cs=df['location']

In [ ]:
df_cs=df_cs.drop_duplicates()

In [ ]:
df_cs.columns=['location']

In [ ]:
df_cs=pd.DataFrame(df_cs)

In [ ]:
df_cs.insert(0, 'location_id', range(1, 1 + len(df_cs)))

In [ ]:
df = pd.merge(df, df_cs, left_on=['location'], right_on = ['location'])

In [ ]:
df=df.sort_values(by=['employee_id'])

### Add employee_company table
##### *loading employee_company table to the database, but since we have already created employee_id and company_id, we don't need to add additional columns to the main dataframe*

In [ ]:
employee_company_df=df[['employee_id','company_id','location_id']]

In [ ]:
employee_company_df.to_sql(name='employee_company', con=engine, if_exists='append', index=False)

### Add Contact Table

In [ ]:
df=df.rename(columns={'First Name':'first_name','Last Name':'last_name'})
contact_df = df[['employee_id', 'first_name', 'last_name']]
contact_df=contact_df.dropna(subset=['first_name', 'last_name'])
contact_df.to_sql(name='contact', con=engine, if_exists='append', index=False)

### Add Phone Table

In [ ]:
df=df.rename(columns={'Work Phone':'work_phone','Home Phone':'home_phone','Work Email':'work_email','Personal Email':'personal_email'})
work_phone_df=df[['employee_id','work_phone']]
work_phone_df=work_phone_df.rename(columns={'work_phone':'phone_number'})
work_phone_df=work_phone_df.dropna(subset=['phone_number'])
work_phone_df.insert(2, 'phone_type','work')
work_phone_df.to_sql(name='phone_number', con=engine, if_exists='append', index=False)

In [ ]:
home_phone_df=df[['employee_id','home_phone']]
home_phone_df=home_phone_df.rename(columns={'home_phone':'phone_number'})
home_phone_df=home_phone_df.dropna(subset=['phone_number'])
home_phone_df.insert(2, 'phone_type','home')
home_phone_df.to_sql(name='phone_number', con=engine, if_exists='append', index=False)

### Add Email Table

In [ ]:
work_email_df=df[['employee_id','work_email']]
work_email_df=work_email_df.rename(columns={'work_email':'email'})
work_email_df=work_email_df.dropna(subset=['email'])
work_email_df.insert(2, 'email_type','work')
work_email_df.to_sql(name='email', con=engine, if_exists='append', index=False)

In [ ]:
personal_email_df=df[['employee_id','personal_email']]
personal_email_df=personal_email_df.rename(columns={'personal_email':'email'})
personal_email_df=personal_email_df.dropna(subset=['email'])
personal_email_df.insert(2, 'email_type','home')
personal_email_df.to_sql(name='email', con=engine, if_exists='append', index=False)

### Add Address  Table

In [ ]:
df=df.rename(columns={'work street address':'work_street_address','work city':'work_city','work state':'work_state',
                      'home street address':'home_street_address','home city':'home_city','home state':'home_state'})
work_address_df=df[['employee_id','work_street_address','work_city','work_state']]
work_address_df=work_address_df.rename(columns={'work_street_address':'street_address','work_city':'city','work_state':'state'})
work_address_df=work_address_df.dropna(subset=['street_address','city','state'])
work_address_df.insert(4, 'address_type','work')
work_address_df.to_sql(name='address', con=engine, if_exists='append', index=False)

In [ ]:
home_address_df=df[['employee_id','home_street_address','home_city','home_state']]
home_address_df=home_address_df.rename(columns={'home_street_address':'street_address','home_city':'city','home_state':'state'})
home_address_df=home_address_df.dropna(subset=['street_address','city','state'])
home_address_df.insert(4, 'address_type','home')
home_address_df.to_sql(name='address', con=engine, if_exists='append', index=False)

### Add Specialization Table
##### *loading specialization table to the database - since some tag attributes are duplicated, as what we did earlier, we need to first extract the unique tag information to database, add a column of incrementing integer numbers for each unique tag_id to create a list, which is then used to map these numbers back to the main dataframe*

In [ ]:
specialization_df = pd.DataFrame(df.tag.unique(), columns=['tag'])
specialization_df['tag']=specialization_df['tag'].fillna("Unknown")
specialization_df.insert(0, 'tag_id', range(1, 1 + len(specialization_df)))

In [ ]:
specialization_df.to_sql(name='specialization', con=engine, if_exists='append', index=False)

In [ ]:
# mapping specialization or tag_id

In [ ]:
df['tag']=df['tag'].fillna("Unknown")

In [ ]:
tag_id_list = [specialization_df.tag_id[specialization_df.tag == i].values[0] for i in df.tag]

In [ ]:
df.insert(1, 'tag_id', tag_id_list)

### Add employee_specialization table
##### *loading employee_specialization table to database, but since we have already created employee_id and tag_id in the main dataframe, we just need to extract the necessary attributes, which are employee_id and tag_id, in creating and loading the table to database without making changes to the main dataframe*

In [ ]:
employee_specialization_df=df[['employee_id','tag_id']]
employee_specialization_df.to_sql(name='employee_specialization', con=engine, if_exists='append', index=False)

### Add ref_education table
##### *loading education table to the database by extracting unique education level information, and then adding education_id as the primary key to create a list, which is then used to map the numbers back to the main dataframe*

In [ ]:
education_df = pd.DataFrame(df.Education.unique(), columns=['Education'])
education_df['Education']=education_df['Education'].fillna("Unknown")

In [ ]:
education_df=education_df.rename(columns={'Education':'education'})
df=df.rename(columns={'Education':'education'})

In [ ]:
education_df.head()

In [ ]:
education_df.to_sql(name='ref_education', con=engine, if_exists='append', index=False)

### Add employee_qualification table
##### *loading education table to the database by extracting unique education level information, and then adding education_id as the primary key to create a list, which is then used to map the numbers back to the main dataframe*

In [ ]:
employee_qualification_df=df[['employee_id','education','yearsofexperience','yearsatcompany']]
employee_qualification_df=employee_qualification_df.rename(columns={'yearsofexperience':'years_experience','yearsatcompany':'years_at_company'})
employee_qualification_df.to_sql(name='employee_qualification', con=engine, if_exists='append', index=False)

### Add gender table

In [ ]:
df['gender']=df['gender'].replace(['Title: Senior Software Engineer'],'Unknown')
df['gender']=df['gender'].fillna("Unknown")

In [ ]:
gender_df = pd.DataFrame(df.gender.unique(), columns=['gender'])

In [ ]:
gender_df.to_sql(name='gender', con=engine, if_exists='append', index=False)

### Add race table

In [ ]:
df['Race']=df['Race'].fillna("Unknown")

In [ ]:
race_df = pd.DataFrame(df.Race.unique(), columns=['Race'])

In [ ]:
race_df=race_df.rename(columns={'Race':'race'})
race_df.to_sql(name='race', con=engine, if_exists='append', index=False)

### Add employee_demographic table

In [ ]:
employee_demographics=df[['employee_id','gender','Race']]

In [ ]:
employee_demographics=employee_demographics.rename(columns={'Race':'race'})
employee_demographics.to_sql(name='employee_demographics', con=engine, if_exists='append', index=False)

### Add job_level table
##### *loading level table to the databse by extracting unique job level information from the level attribute add a column of incrementing integer numbers to represent the primary key, level_id create a list based on the unique level_id and then map the numbers back to the main dataframe*

In [ ]:
level_df = pd.DataFrame(df.level.unique(), columns=['level'])
level_df['level']=level_df['level'].fillna("Unknown")
level_df.insert(0, 'level_id', range(1, 1 + len(level_df)))

In [ ]:
level_df.to_sql(name='level', con=engine, if_exists='append', index=False)

In [ ]:
# mapping level_id

In [ ]:
df['level']=df['level'].fillna("Unknown")
level_id_list = [level_df.level_id[level_df.level == i].values[0] for i in df.level]
df.insert(1, 'level_id', level_id_list)

### Add ref_title table

In [ ]:
title_df = pd.DataFrame(df.title.unique(), columns=['title'])
title_df['title']=title_df['title'].fillna("Unknown")
title_df.to_sql(name='ref_title', con=engine, if_exists='append', index=False)

### Add employee_position table

In [ ]:
employee_position=df[['employee_id','level_id', 'title']]
employee_position.to_sql(name='employee_position', con=engine, if_exists='append', index=False)

### Create Users & Priveleges

In [ ]:
# Pass the SQL statement to filter data
stmt = """

CREATE GROUP new_analyst_read_only;

CREATE USER newanalyst1 WITH
    IN GROUP analyst_read_only
	VALID UNTIL '2025-04-03T11:50:38+05:30' 
	PASSWORD '123456';
    
GRANT SELECT ON 
    employee,contact,phone_number,email,address,company,location,employee_company,specialization,
    employee_specialization,ref_education,employee_qualification,gender,race,employee_demographics,level,
    ref_title,employee_position
    TO ANALYST1;
    
CREATE USER newanalyst2 WITH 
    SUPERUSER
    CREATEDB
    VALID UNTIL '2025-04-03T11:50:38+05:30' 
	PASSWORD '111';

"""

# Execute the statement and get the results
connection.execute(stmt)

# Analytical Techniques

### After the ETL process when all tables have been loaded to SQL, data analysts will be using Python to interact with the pgAdmin database system for data analysis purposes. 

### We offer insights and analytical techniques below, first is exploring average salary information by different variables, the second component involves looking at how salary varies by variables of interest given a specific job title. These tasks will be accomplished based on the establishment of a number of views so that analysts can appraoch requests more efficiently. We then plan on taking a deep dive into one specific job title to see how salary varies by other variables such as company, location, education, experience, etc., to provide a 360 view of salary information for our clients depending on a specific job title.

### #1 Average salary by company

In [ ]:
# Pass the SQL statement to filter data
stmt = """

select avg(totalyearlycompensation)as Avg_salary,company from employee,employee_company,company
where employee.employee_id = employee_company.employee_id and company.company_id = employee_company.company_id
group by company order by Avg_salary DESC

"""

# Execute the statement and get the results
results = connection.execute(stmt).fetchall()

# Extract column names
column_names = results[0].keys()

# Store results in a new dataframe
temp_df = pd.DataFrame(results, columns=column_names)

# Show results
temp_df

#### 1.1 Function to get Average salary for company

In [ ]:
# Pass the SQL statement to filter data

stmt = """
create or replace function avg_salary_company(state varchar(100))
    returns table (
        company varchar(100),
        avg_salary numeric(10,2)) as
    $$
        begin
            return query
            select distinct co.company, avg(em.totalyearlycompensation) as avg_salary
            from employee em
            join employee_company ec on ec.employee_id = em.employee_id
            join company co on ec.company_id = co.company_id
            group by co.company;
        end
    $$
language plpgsql; 

select * from avg_salary_company('Amazon');

"""


# Execute the statement and get the results
results = connection.execute(stmt).fetchall()

# Extract column names
column_names = results[0].keys()

# Store results in a new dataframe
temp_df = pd.DataFrame(results, columns=column_names)

# Show results
temp_df

### #2 Average salary by job title

In [ ]:
# Pass the SQL statement to filter data
stmt = """

select avg(totalyearlycompensation)as Avg_salary,title from employee,employee_position
where employee.employee_id = employee_position.employee_id
group by title order by Avg_salary DESC


"""

# Execute the statement and get the results
results1 = connection.execute(stmt).fetchall()

# Extract column names
column_names = results1[0].keys()

# Store results in a new dataframe
temp_df1 = pd.DataFrame(results1, columns=column_names)

# Show results
temp_df1

#### 2.1 Function to get Average salary for job title

In [ ]:
# Pass the SQL statement to filter data
stmt = """
create or replace function avg_salary_title(state varchar(100))
    returns table (
        title varchar(100),
        avg_salary numeric(10,2)) as
    $$
        begin
            return query
            select distinct ep.title, avg(em.totalyearlycompensation) as avg_salary
            from employee em
            join employee_position ep on em.employee_id = ep.employee_id
            group by ep.title;
        end
    $$
language plpgsql; 

select * from avg_salary_title('Product Manager');

"""

# Execute the statement and get the results
results1 = connection.execute(stmt).fetchall()

# Extract column names
column_names = results1[0].keys()

# Store results in a new dataframe
temp_df1 = pd.DataFrame(results1, columns=column_names)

# Show results
temp_df1

### #3 Average salary by city

In [ ]:
# Pass the SQL statement to filter data
stmt = """

select avg(totalyearlycompensation)as Avg_salary,location_city from employee,employee_company,location
where employee.employee_id = employee_company.employee_id and location.location_id = employee_company.location_id
group by location_city order by Avg_salary DESC limit 20


"""

# Execute the statement and get the results
results2 = connection.execute(stmt).fetchall()

# Extract column names
column_names = results2[0].keys()

# Store results in a new dataframe
temp_df2 = pd.DataFrame(results2, columns=column_names)

# Show results
temp_df2

#### 3.1 Function to get Average salary for a state

In [ ]:
# Pass the SQL statement to filter data
stmt = """
create or replace function avg_salary_state(state varchar(100))
    returns table (
        location_name varchar(100),
        avg_salary numeric(10,2)) as
    $$
        begin
            return query
            select distinct lo.location_state, avg(em.totalyearlycompensation) as avg_salary
            from location lo
            join employee_company ec on lo.location_id = ec.location_id
            join employee em on em.employee_id = ec.employee_id
            group by lo.location_state;
        end
    $$
language plpgsql; 


select * from avg_salary_state('CA');
"""

# Execute the statement and get the results
results2 = connection.execute(stmt).fetchall()


# Extract column names
column_names = results2[0].keys()

# Store results in a new dataframe
temp_df2 = pd.DataFrame(results2, columns=column_names)

# Show results
temp_df2

### #4 Average salary by state

In [ ]:
# Pass the SQL statement to filter data
stmt = """

select avg(totalyearlycompensation)as Avg_salary,location_state from employee,employee_company,location
where employee.employee_id = employee_company.employee_id and location.location_id = employee_company.location_id
group by location_state order by Avg_salary DESC limit 20



"""

# Execute the statement and get the results
results3 = connection.execute(stmt).fetchall()

# Extract column names
column_names = results3[0].keys()

# Store results in a new dataframe
temp_df3 = pd.DataFrame(results3, columns=column_names)

# Show results
temp_df3

### #5 Level with the highest salary

In [ ]:
# Pass the SQL statement to filter data
stmt = """

select max(totalyearlycompensation)as max_salary,company,level from level,employee,employee_position,company,employee_company
where employee.employee_id = employee_position.employee_id and employee.employee_id=employee_company.employee_id and company.company_id = employee_company.company_id
and level.level_id = employee_position.level_id
group by level,company order by max_salary DESC 


"""

# Execute the statement and get the results
results4 = connection.execute(stmt).fetchall()

# Extract column names
column_names = results4[0].keys()

# Store results in a new dataframe
temp_df4 = pd.DataFrame(results4, columns=column_names)

# Show results
temp_df4

### #6 Average salary by degree

In [ ]:
# Pass the SQL statement to filter data
stmt = """

select avg(totalyearlycompensation)as Avg_salary, education 
from employee join employee_qualification using (employee_id)
group by education 
order by Avg_salary DESC;


"""

# Execute the statement and get the results
results4 = connection.execute(stmt).fetchall()

# Extract column names
column_names = results4[0].keys()

# Store results in a new dataframe
temp_df4 = pd.DataFrame(results4, columns=column_names)

# Show results
temp_df4

## In the following analyses we will focus on exploring data scientist salary by different variables
### #7 Data Scientist salary by the company and average working experience

In [ ]:
# Pass the SQL statement to filter data
stmt = """

select avg(totalyearlycompensation)as Avg_salary,avg(years_experience)as Avg_exp,company from 
employee,employee_company,company,employee_position,employee_qualification
where employee.employee_id = employee_company.employee_id and company.company_id = employee_company.company_id 
and employee.employee_id = employee_qualification.employee_id
and employee.employee_id=employee_position.employee_id 
and title='Data Scientist' 
group by company,title order by Avg_salary DESC


"""

# Execute the statement and get the results
results5 = connection.execute(stmt).fetchall()

# Extract column names
column_names = results5[0].keys()

# Store results in a new dataframe
temp_df5 = pd.DataFrame(results5, columns=column_names)

# Show results
temp_df5

### #8 Data scientist salary by years experience

In [ ]:
# Pass the SQL statement to filter data
stmt = """

select avg(totalyearlycompensation)as Avg_salary,years_experience 
from employee,employee_position,employee_qualification
where employee.employee_id = employee_qualification.employee_id and employee.employee_id=employee_position.employee_id
and title='Data Scientist' 
group by years_experience order by years_experience



"""

# Execute the statement and get the results
results6 = connection.execute(stmt).fetchall()

# Extract column names
column_names = results6[0].keys()

# Store results in a new dataframe
temp_df6 = pd.DataFrame(results6, columns=column_names)

# Show results
temp_df6

### #9 Data scientist salary by tag or specialization

In [ ]:
# Pass the SQL statement to filter data
stmt = """

select avg(totalyearlycompensation)as Avg_salary,tag from employee,employee_position,employee_specialization,specialization
where employee.employee_id = employee_specialization.employee_id and employee_specialization.tag_id=specialization.tag_id
and employee.employee_id=employee_position.employee_id and title='Data Scientist'  
group by tag order by Avg_salary DESC



"""

# Execute the statement and get the results
results7 = connection.execute(stmt).fetchall()

# Extract column names
column_names = results7[0].keys()

# Store results in a new dataframe
temp_df7 = pd.DataFrame(results7, columns=column_names)

# Show results
temp_df7

### #10 Data Scientist salary by gender

In [ ]:
# Pass the SQL statement to filter data
stmt = """

select avg(totalyearlycompensation)as Avg_salary,gender from employee,employee_position,employee_demographics
where employee.employee_id=employee_position.employee_id and title='Data Scientist' 
and employee_demographics.employee_id=employee.employee_id
group by gender order by Avg_salary DESC



"""

# Execute the statement and get the results
results8 = connection.execute(stmt).fetchall()

# Extract column names
column_names = results8[0].keys()

# Store results in a new dataframe
temp_df8 = pd.DataFrame(results8, columns=column_names)

# Show results
temp_df8

### #11 Data Scientist salary race

In [ ]:
# Pass the SQL statement to filter data
stmt = """

select avg(totalyearlycompensation)as Avg_salary,race from employee,employee_position,employee_demographics
where employee.employee_id=employee_position.employee_id and title='Data Scientist' 
and employee_demographics.employee_id=employee.employee_id
group by race order by Avg_salary DESC



"""

# Execute the statement and get the results
results9 = connection.execute(stmt).fetchall()

# Extract column names
column_names = results9[0].keys()

# Store results in a new dataframe
temp_df9 = pd.DataFrame(results9, columns=column_names)

# Show results
temp_df9